@model IEnumerable<Player>

@{
    ViewBag.Title = "Все пользователи";
}
<html>
<body>
    <a asp-action="AddOrEditPlayer" asp-route-add="true">Добавить</a>
    <table class="table" id="playersTable">
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Пол</td>
            <td>Дата рождения</td>
            <td>Команда</td>
            <td>Страна</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td id="name">@item.Name</td>
                <td id="surname">@item.Surname</td>
                @if (item.Gender)
                {
                    <td id="gender">Мужчина</td>

                }
                else
                {
                    <td id="gender">Женщина</td="gender">
                }
                <td id="birdDate">@item.BirthDate</td>
                @if (item.Team != null)
                {
                    <td id="team">@item.Team.Name</td>
                }
                else
                {
                    <td id="team"></td>
                }
                <td id="country">@item.Country</td>
                <td>
                    <a asp-controller="Players" asp-action="AddOrEditPlayer" asp-route-id="@item.Id" asp-route-add="false" id="edit">Изменить</a>
                </td>
                <td>
                    <a asp-controller="Players" asp-action="RemovePlayer" asp-route-id="@item.Id" id="remove">Удалить</a>
                </td>
            </tr>
        }
    </table>

    <script src="js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/send")
            .build();
      
        let table = document.getElementById("playersTable");

        //Удаление
        for (var i = 0; i < table.rows.length; i++) {
            document.getElementById("remove").addEventListener("click", function (e) {
                let rowId = i;

                hubConnection.invoke("Send", null, rowId);
            });
        }
        
        hubConnection.on("Send", function (player, rowId) {
            if (player == null && rowId != null) {
                table.deleteRow(rowId);
            }
            else if (player != null && rowId != null) {
                let newRow = rowId;
                newRow.insertCell(0).innerText = player.name;
                newRow.insertCell(1).innerText = player.surname;
                newRow.insertCell(2).innerText = player.gender ? "Мужчина" : "Женщина";
                newRow.insertCell(3);
                newRow.insertCell(4).innerText = player.teamId;
                newRow.insertCell(5).innerText = player.country;

                let changeElement = newRow.insertCell(6).createElement("a");
                //changeElement.setAttribute('asp-controller', "Players");
                //changeElement.setAttribute('asp-action', "EditPlayer");
                changeElement.innerText("Изменить");

                let removeElement = newRow.insertCell(7).createElement("a");
                //removeElement.setAttribute('asp-controller', "Players");
                //removeElement.setAttribute('asp-action', "RemovePlayer");
                removeElement.innerText("Удалить");
            }
            else {
                let newRow = insertRow(rowId);
                newRow.insertCell(0).innerText = player.name;
                newRow.insertCell(1).innerText = player.surname;
                newRow.insertCell(2).innerText = player.gender ? "Мужчина" : "Женщина";
                newRow.insertCell(3);
                newRow.insertCell(4).innerText = player.teamId;
                newRow.insertCell(5).innerText = player.country;

                let changeElement = newRow.insertCell(6).createElement("a");
                //changeElement.setAttribute('asp-controller', "Players");
                //changeElement.setAttribute('asp-action', "EditPlayer");
                changeElement.innerText("Изменить");

                let removeElement = newRow.insertCell(7).createElement("a");
                //removeElement.setAttribute('asp-controller', "Players");
                //removeElement.setAttribute('asp-action', "RemovePlayer");
                removeElement.innerText("Удалить");
            }
        });

        hubConnection.start();
    </script>
</body>
</html>